* {
   list-style:none; 
    padding:0;
    margin:0;
    display:block;
    text-align:left;
    width:auto;
    height:auto;
    text-decoration:none;
}

title{display:none}

/* 字体style设置 */
body {
    font-family:"poppins";
    font-size:16px;
    font-weight:300;
    line-height:1.6;
    color:black;
    background:white;
    width:100%;
    min-width:960px;
}
h1{
    color:black;
    font-size:48px;
    font-family:"Poppins";
    font-weight:600;
}
h2{
    color:black;
    font-family:"poppins";
    font-size:28px;
    font-weight:600;
}
h3{
    color:black;
    font-family:"poppins";
    font-size:20px;
    font-weight:500;
}
h5{
    color:black;
    font-family:"poppins";
    font-size:16px;
    font-weight:500;
}
h4{
    color:#381292;
    font-family:"poppins";
    font-size:28px;
    font-weight:500;
}

p{
    font-family:"poppins";
    font-size:16px;
    font-weight:300;
    color:black;
}

/* cover */
.cover img{
    width: 100%;
    height: auto;
}

/* navigation bar */
.nav_bar{
    height: 80px;
    width: 100%;
    background: white;
    margin: 0 auto;
    box-shadow: 0 4px 16px #f0f0f0;
    position: fixed;
    z-index: 1;
}

.logo{
    float: left;
    width: 82px;
    height: 80px;
    position: absolute;
    left:64px;
}

.menu_item ul{
    float: left;
    display: inline;
    position: absolute;
    right:64px;
    
}

.menu_item ul li{
    float: left;
    padding: 28px 16px;
}

.menu_item li a{color: black;}
.menu_item li a:hover{color: #1897FF;}

/* footer */
.footer{
  width: 100%; /* 设置 footer 宽度 */
  height: 280px; /* 设置 footer 高度 */
  background-color:#FFFFFF; /* Footer 背景色 */
  position: relative; /* 设置相对定位 */
}

.footer::before {
  content: ''; /* 空内容用于伪元素 */
  position: absolute;
  top: 0; /* 定位在 footer 顶部 */
  left: 0;
  width: 100%;
  height: 3px; /* 边框的高度 */
  background: linear-gradient(to right, #C0E3F5, #FFEC8E); /* 蓝黄渐变 */
}
.footer h2{
    text-align: center;
    padding-top:80px;
}

.footer ul{text-align: center;}
.footer ul li{
    display: inline-block; /* 让边框大小根据文字自适应 */
    margin:32px 32px;
    padding: 12px 28px; /* 给文字一些内边距，控制边框和文字的距离 */
    border: 2px solid black; /* 边框颜色和宽度 */
    border-radius: 48px; /* 圆角半径，数字越大圆角越大 */
    color: black; /* 文字颜色 */
    font-size: 16px; /* 文字大小 */
    text-align: center; /* 如果文字多行，可以让它居中 */
}
.footer li a{color: black;}
.footer li a:hover{color: #1897FF;}

/* 主要内容 */
/* overview */
.overview h2{padding-top:48px; padding-left:160px;}
.overview_container{
    display: flex; /* 使用 Flexbox 实现左右布局 */
    justify-content: space-between; /* 左右分布 */
    align-items: flex-start; /* 顶部对齐 */
    gap: 160px; /* 左右部分的间距 */
    margin:0 160px;
    padding-bottom: 48px;
}
.overview_left{
    flex: 2; /* 左边占据较多空间 */
}
.overview_right{
    flex: 1; /* 右边占据较少空间 */
    display: flex;
    flex-direction: column; /* 垂直排列 */
}

.background h2{padding-top:48px; padding-left:160px;}
.bg_container{
    display: flex; /* 使用 Flexbox 实现左右布局 */
    justify-content: space-between;
    align-items: flex-start; /* 顶部对齐 */
    gap: 80px; /* 左右部分的间距 */
    margin:0 160px;
    padding-bottom: 48px;
}
.bg1{flex:1; vertical-align: middle;}
.bg2{flex:1; vertical-align: middle;}

.process{margin:64px 160px;}
.process img{margin: auto; width:100%; padding-top: 32px;}

.theory{margin:48px 160px;}
.theory h3{padding-top:32px;}
.theory p{padding-top:16px;}

.question{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 120px;
    padding: 48px 160px;
}
.q_left{
    flex: 1; 
    display: flex;
    flex-direction: column;
    gap:96px;
}
.q_right{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap:64px;
}

.survey{padding:48px 160px; position: relative;}
.finding{width:320px; height:auto; text-align: left; transition: all 0.3s ease;}
.finding:hover{transform: scale(1.02); /* 放大 2% */}

.survey h3 a{color: #381292;}
.survey h3 a:hover{transform:translateY(-2px);}


